
body{
    background-color: #f4f4f4;
    color:#555555;

    font: normal 16px Arial, Helvetica, sans-serif;

    line-height: 1.6em;
    margin:0;
}

a {
    text-decoration: none;
    color:#000
}
a:hover{
    color:red;
}

a:active {
    color:green;
}

a:visited {
    color:black;
}
.container{
    width:80%;
    margin: auto;
}

.box-1{
    background-color: #333;
    color: #fff;

    border: 5px red solid;
    border-width:3px;
    border-style: solid;

    padding: 20px;

    margin: 20px;

}

.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    border: 3px dotted lightgray;
    padding: 20px;
    margin: 20px 0;
}

.catagories{
    border:1px #ccc solid;
    padding:10px;
    border-radius: 15px;
}

.catagories h2{
    text-align: center;
}

.catagories ul {
    padding:0;
    list-style: none;
}

.catagories li {
    padding-bottom:8px;
    border-bottom:dotted 1px #333;
}